<div class="container mt-5">
  <h1>Courses</h1>
  <div class="row">
      <div class="col-3" *ngFor="let course of coursesList">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Name: {{course.name}}</h5>
              <h6>Duration: {{course.duration}}</h6>
              <p><strong>ID: {{course.id}}</strong></p>
              <p class="card-text">Fee: {{course.fee}}</p>
              <p>startDate: {{course.startDate}}</p>
              <a routerLink="/course-detail/{{course.id}}" class="btn btn-primary mb-2 d-block">View Course</a>
              <a routerLink="/edit-course/{{course.id}}" class="btn btn-primary mb-2 d-block">Edit Course</a>
              <a (click)='deleteCourse(course)' class="btn btn-primary d-block">Delete Course</a>
            </div>
          </div>
      </div>
  </div>
  <button class="btn btn-primary" routerLink="../add-course">Add New Course</button>
</div>